<nav class="items-center justify-between py-8 md:flex-wrap md:flex">
	<div class="px-5">
		<a href="/" class="text-xl font-semibold tracking-tight hover:text-blue-600">{ fiqri }</a>
	</div>

  <ul class="fixed bottom-0 z-10 flex justify-center w-screen py-2 text-white bg-gray-700 md:text-gray-800 md:bg-white md:relative md:inset-0 md:w-auto">
    <li class="inline">
      <a href="#about" class="nav-btn">.about</a>
    </li>
    <li class="inline">
      <a href="#projects" class="nav-btn">.projects</a>
    </li>
		<li class="inline">
			<a href="#contact"class="nav-btn">.contact</a>
    </li>
	</ul>
</nav>
