<nav class="flex flex-wrap items-center justify-between px-5 py-8">
	<a href="/" class="text-xl font-semibold tracking-tight hover:text-blue-600">{ fiqri }</a>

	<div class="flex items-center md:hidden">
		<button class="outline-none mobile-menu-button">
			<svg
				class="w-8 h-6 text-gray-500"
				x-show="!showMenu"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
			<path d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>

  <ul class="hidden md:block">
    <li class="inline">
      <a
        href="#about"
        class="nav-btn">
				.about
      </a>
    </li>
    <li class="inline">
      <a
        href="#projects"
        class="nav-btn">
				.projects
      </a>
    </li>
    <li class="inline">
      <a
        href="#contact"
        class="nav-btn">
				.contact
      </a>
    </li>
	</ul>
</nav>
