<div class="fixed z-50 opacity-0 bottom-20 md:bottom-12 right-8 scroll-to-top transition translate-y-40 duration-500 ease-in-out">
	<button class="flex items-center justify-center p-4 text-lg bg-gray-200 rounded-full shadow-lg hover:shadow-xl hover:bg-gray-300 hover:text-blue-600 transition"><i class="icofont-arrow-up"></i></button>
</div>
