<button id="scroll-to-top" class="fixed z-50 flex items-center justify-center block p-4 text-xl bg-gray-200 rounded-full shadow-lg opacity-0 hover:shadow-xl hover:bg-gray-300 hover:text-blue-600 transition bottom-20 md:bottom-12 right-8 translate-y-40 duration-500 ease-in-out"><i class="icofont-arrow-up"></i></button>
