<div class="my-4 grid gap-3 grid-flow-col auto-cols-max">
	{% for key, item in social %}
		<a href="{{ item }}" target="_blank" rel="noopener" class="social-icon"><i class="icofont-{{ key }}"></i></a>
	{% endfor %}
</div>
