@import url('./fonts.css');
@import url('./icofont.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.nav-btn {
	@apply inline-block px-3 py-3 mx-2 rounded-xl hover:bg-gray-200 hover:shadow-md transition hover:text-blue-600;
}

.section-title {
	@apply pb-5 mb-5 text-3xl text-center border-b-2 md:text-4xl lg:text-5xl;
}

.section-subtitle {
	@apply mb-5 text-xl md:text-2xl lg:text-3xl;
}

.input-text {
	@apply block w-full max-w-md px-6 py-4 bg-gray-200 shadow rounded-xl focus:shadow-lg transition;
}

.show-btn {
	opacity: 1;
	transform: translateY(0);
}
