<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../partials/head.njk' %}
  </head>
  <body class="pb-20 mx-auto font-mono md:pb-0 max-w-screen-md">
		<header>
			{% include '../components/navbar.njk' %}
		</header>
		<main>
			{{ content | safe }}
		</main>
  </body>
</html>
