<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../partials/head.njk' %}
  </head>
  <body class="font-mono">
		<header class="md:container md:mx-auto">
			{% include '../partials/navbar.njk' %}
		</header>
    {{ content | safe }}
  </body>
</html>
