<section id="about" class="my-24">
	<h2 class="section-title">.about</h2>
	
	{% for exp, item in about %}

		<div id="{{ exp }}" class="my-10">
			<h3 class="section-subtitle"><span class="text-blue-600">${</span>{{ exp }}<span class="text-blue-600">}</span></h3>

			<ul>
				{% for field in item %}
					<li class="p-8 mb-5 bg-gray-200 shadow-md hover:shadow-lg transition md:p-10 rounded-xl last:mb-0">
						<div class="inline-block space-y-2">
							<h4 class="text-lg font-bold text-blue-600">{{ field.title }}</h4>
							<p class="text-gray-800">{{ field.at }}</p>
							<p class="text-gray-600">{{ field.date }}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>	

	{% endfor %}
</section>
