<section id="contact" class="my-24">
	<h2 class="section-title">.contact</h2>

	<p class="my-12 text-center">Have a question or want to work together?</p>
	
	<form action="https://send.pageclip.co/kO6U9cIMsfRZMCM8Ab15mWk7OgOpdOJ9/contact-form" class="w-full justify-items-center pageclip-form grid grid-flow-row auto-rows-max gap-4" method="post">
		<input type="text" name="name" placeholder="Your Name" class="input-text" />
		<input type="email" name="email" placeholder="Your Email" class="input-text"/>
		<textarea name="message" id="message" placeholder="Your Message" class="input-text h-24 resize-none"></textarea>

		<!-- This button will have a loading spinner. Keep the inner span for best results. -->
		<button type="submit" class="block w-full max-w-md px-6 py-3 text-white bg-blue-600 shadow-md hover:bg-gray-300 hover:shadow-lg transition hover:text-blue-600 pageclip-form__submit rounded-xl">
			<span>Send</span>
		</button>
	</form>
</section>

