<div class="flex content-center justify-center h-80vh">
	<div class="flex flex-col content-start justify-center w-full">
		<div class="mb-6 -mt-8 text-5xl font-bold md:text-6xl">hi <span class="text-blue-700">there!</span></div>
		<h1 class="mb-1 text-2xl">I'm <span class="text-blue-700">Fiqri Syah Redha</span></h1>
		<div class="text-2xl text-gray-500">Front-end web developer based in Indonesia</div>

		{% include '../components/social.njk' %}
	</div>
</div>
