<nav class="flex items-center justify-between flex-wrap px-5 py-7">
	<a href="/" class="font-semibold text-xl tracking-tight">{ fiqri }</a>

  <ul>
    <li class="inline">
      <a
        href="#about"
        class="py-1 px-2 rounded mr-4 inline-block">
				.about
      </a>
    </li>
    <li class="inline">
      <a
        href="#projects"
        class="py-1 px-2 rounded mr-4 inline-block">
				.projects
      </a>
    </li>
    <li class="inline">
      <a
        href="#contact"
        class="py-1 px-2 rounded inline-block">
				.contact
      </a>
    </li>
	</ul>
</nav>
